{% extends 'mailing/base.html' %}
{% block content %}
{% load my_tags %}

<section class="px-3 py-1 pt-md-1 pb-md-4 mx-auto text-center " xmlns="http://www.w3.org/1999/html">
    <div class="container-center">
        <p class="lead text-muted">С помощью сервиса Посылкин можно с легкостьтю создавать email-рассылки для своих клиентов.</p>
                {% if user.is_authenticated %}
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <a href="{% url 'mailing:mailing_list' %}" class="btn btn-primary my-2">Рассылки</a>
                    <a href="{% url 'users:logout' %}" class="btn btn-primary my-2">Выход</a>
                </form>
                {% else %}
                <a class="btn btn-primary my-2" href="{% url 'users:login' %}">Вход</a></li>
                <a class="btn btn-primary my-2" href="{% url 'users:register' %}">Регистрация</a></li>
                {% endif %}



    </div>
    <div class="d-flex justify-content-center">
{% if user.is_authenticated %}
            <div class="card" style="width: 36rem;">

                <div class="card-header"><h5>Статистика рассылок</h5></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Всего рассылок - {{all_email_massages}}</li>
                    <li class="list-group-item">Активных рассылок - {{active_email_messages}}</li>
                    <li class="list-group-item">Уникальных клиентов для рассылок - {{unique_client}}</li>
                </ul>
            </div>
{% endif %}
    </div>

</section>

<div class="album py-1 bg-body-tertiary">
    <div class="container">
        <section class="py-1 text-center container">
             <h1 class="fw-light "> Блог </h1>
             <p class="lead text-body-secondary">Статьи нашего блога</p>
         </section>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {%for blogs in random_blogs %}
        <div class="col">
            <div class="card shadow-sm">
            <h5 class="card text-center"> {{ blogs.title }}</h5>
            <img src={{ blogs.preview | mymedia}} height="300">
            <div class="card-body">

              <p class="card-text"> {{ blogs.content|truncatechars:100}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'blog:blog_detail' blogs.pk %}" role="button"> Читать</a>
                </div>

              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>



{% endblock %}