{% extends 'mailing/base.html'%}
{% block content %}

<div class="container-center">
    <div class="card shadow-sm">
        <div class="cart-header bg-secondary text-white p-3 rounded-top text-center">Информация о сообщении</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="card-text">Заголовок: {{ message.subject }}</p>
                    <p class="card-text">Сообщение: {{ message.message }}</p>

                    <a href="{% url 'mailing:message_list' %}" class="btn btn-outline-primary btn-block mb-2">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}